{
  "parser": "@typescript-eslint/parser",
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended"],
  "overrides": [
    {
      "files": ["package.json"],
      "rules": {
        "jsonc/array-bracket-newline": 0,
        "quotes": [2, "double"]
      }
    }
  ]
}
